@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<h4>If you require any assistance with using any of the features of DIPR, please don't hesitate to contact our support team!</h4>

<address>
    123 Main St.<br />
    Anytown, USA 12345-6789<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@dipr.com">support@dipr.com</a><br />
</address>