@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to DIPR!</h1>
    <p class="lead">....</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p></p>
    </div>
</div>